/* Themed Appearance + Themed States */

body {
    display: flex;
}

section {

    margin: 0 auto;
    margin-top: 5rem;
    width: 75%;
    max-width: 55rem;
}

table {
    font-size: 1.5rem;
}

td, th {
    padding: 0.2rem;
}

tr {
    border: 1px solid black;
}

tr:nth-child(even) {
    background: #CCC;
}

.red {
    background-color: red;
}

/* .green {
    background-color: green;
} */
